######################
## Fat-Free Framework
######################

f3/api/*

######################
## Template
######################
ui/bower_components/*


######################
## Custom
######################
app/config/db.php
app/imprint.php
ui/imprint.htm
ui/image/imprint.png



